.sub-logo {
  width: 179px;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 15px;
  color: $color-white;
  display: flex;
  align-items: center;
  letter-spacing: 0.1rem;
}

.logo-object {

}
