html {
  font-size: 10px;
}
body {
  font-family: Arial, 'Noto Serif Georgian', serif;
  margin: 0 auto;
}

.main {
  height: 908px;
  background:radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211F20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include media-tablet {
    height: 1165px;
  }
  @include media-mobile-small {
    height: 823px;
  }
}
