$color-white: #FFFFFF;
$color-border: #F1CDB3;
$color-navigation: #CDCDCD;
$color-button: #F1CDB3;
$color-about-title: #545454;
$color-about-text: #292929;
$color-pets: #FAFAFA;
$color-pets: #F6F6F6;
$color-credit-text: #B2B2B2;






$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;